<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete Payment</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body>
    <h1>Complete Your Payment</h1>
    <button id="rzp-button1">Pay Now</button>
    <script>
        var options = {
            "key": "<%= razorpayKeyId %>",
            "amount": "<%= amount * 100 %>",
            "currency": "INR",
            "name": "PINK MARTINI",
            "description": "Order Payment",
            "order_id": "<%= razorpayOrderId %>",
            "handler": function (response){
                // Send the payment details to your server for verification
                window.location.href = `/user/verify-Payment?razorpay_payment_id=${response.razorpay_payment_id}&razorpay_order_id=${response.razorpay_order_id}&razorpay_signature=${response.razorpay_signature}`;
            },
            "prefill": {
                "name": "Customer Name",
                "email": "customer@example.com",
                "contact": "9999999999"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        document.getElementById('rzp-button1').onclick = function(e){
            rzp1.open();
            e.preventDefault();
        }
    </script>
</body>
</html>